{% if tasks %}
    {% for task in tasks %}
        <div class="container tasks"> 
            <div class="row"> 
                <div class="col" onclick="edit_modal({{task.id}})"> 
                    {{task.title}}
                </div>
                <div class="col-auto"> 
                    <input id="checkbox{{task.id}}" class="icons-bar checkbox" type="checkbox" >
                    <a class="icons-bar" href="{% url 'todoapp:update_task' task.id %}"><i class="fa fa-edit"></i></a>
                    <a class="icons-bar"><i onclick="delete_task({{task.id}})" class='fa fa-trash'></i> </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else%}
    <div class="container tasks" id='task'> 
        <p> Nothing Happening </p>
    </div>
{% endif %}