{% if tasks %}
    {% for task in tasks %}
        <div class="container tasks"> 
            <div class="row"> 
                <div class="col" onclick="edit_modal({{task.id}})"> 
                    {{task.title}}
                </div>
                <div class="col-auto"> 
                    <a href="{% url 'todoapp:update_task' task.id %}" > Edit</a>
                    <span class='span-link' onclick="check_task({{task.id}})" > Check</span>
                    <input type="checkbox" name="" id="checkbox{{task.id}}" class="checkbox btn-green">
                    <span class='w3-xlarge'><i onclick="delete_task({{task.id}})" class='fa fa-trash'></i> </span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else%}
    <div class="container tasks" id='task'> 
        <p> Nothing Happening </p>
    </div>
{% endif %}